@page "/"

<PageTitle>MyWardRobe</PageTitle>

<h1>Hello, world! Welcome to MyWardRobe</h1>

Welcome to the new app to help you make great choices for your wardrobe.

"Custom Couture: Unleash Your Unique Style"

AI power your wardrope.
- Let our AI platform offer a style for your own wardrobe
