@page "/"

<PageTitle>MyWardRobe</PageTitle>

<h1>Hello, world! Welcome to MyWardRobe</h1>

<p>Welcome to the new app to help you make great choices for your wardrobe.</p>

<h3>"Custom Couture: Unleash Your Unique Style"</h3>

<p>AI power your wardrope.</p>
- Let our AI platform offer a style for your own wardrobe

<h2>example</h2>

Joe Bloggs


<li>38s jacket</li>
<li>32s trs</li>
<li>38r waistcoat</li>


